PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/googly-fashion?retryWrites=true&w=majority
CLIENT_URL=http://localhost:5173

# Firebase Admin SDK (add your service account config)
# FIREBASE_PROJECT_ID=
# FIREBASE_PRIVATE_KEY=
# FIREBASE_CLIENT_EMAIL=
